apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: go-sample-app
spec:
  selector:
    matchLabels:
      app: demo-app
  replicas: 2 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: gzockoll/argocd-demo-app:latest
        ports:
        - containerPort: 8080

